.DS_Store
.Rproj.user
.Rhistory
.RData
.Rapp.history
public/


Users/jasminereighard/Desktop/mbio621/FishResp.Rmd

Users/jasminereighard/Desktop/mbio621/Leon_AquaResp_file_organization.Rmd

mbio621/mbio621AquaResp_file_organization.Rmd

Users/jasminereighard/Desktop/mbio621/raw_data/

Users/jasminereighard/Desktop/mbio621/data/

 b